.circles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
}

.circle {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 700;
}
