.board {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 6rem;
  box-shadow: var(--default-box-shadow);
}

.board-join_color {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.board-select_number {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.board-count_down {
  text-align: right;
}

.board-join--green {
  background-color: var(--green);
}

.board-join--violet {
  background-color: var(--violet);
}
.board-join--red {
  background-color: var(--red);
}

.board-join--red,
.board-join--violet,
.board-join--green {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 1rem;
  border-radius: 4px;
}

div[class^="board-number--"] {
  background-color: #caedff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.board-count_down span {
  display: inline-block;
  padding: 0 0.5rem;
  background-color: #d8b4f8;
  font-weight: 700;
  font-size: 2rem;
  border-radius: 4px;
  font-family: "Roboto Mono", monospace;
}

.board-count_down span:first-child {
  margin-right: 0.5rem;
}

.board-count_down span:last-child {
  margin-left: 0.5rem;
}

.board-period--number {
  font-weight: 700;
  font-size: 2rem;
}
