.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: #fff;
}

.footer ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
