* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  @media (max-width: 56.25em) {
    /* 1rem = 11px */
    font-size: 75%;
  }
}

body {
  color: var(--primary-gray);
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: var(--default-font-size);
}

#root {
  width: 100%;
  padding: 1rem;
}

.heading-primary {
  font-size: 3rem;
  margin-bottom: 1.6rem;
  letter-spacing: -0.75px;
}

.heading-secondary {
  font-size: 2.4rem;
  letter-spacing: -0.75px;
  color: var(--primary-gray);
}

.container {
  width: 80%;
  margin: 0 auto;

  @media (max-width: 56.25em) {
    width: 100%;
  }
}

.page-wrapper {
  padding: 2rem;
  border-radius: 1.2rem;

  @media (max-width: 56.25em) {
    padding: 0.8rem;
    border-radius: 0;
  }
}

.bg-gray {
  background-color: var(--tertiary-gray);
}

.bg-white {
  background-color: var(--white);
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

dl {
  color: var(--primary-gray);
}

dl dd {
  font-size: 1.5rem;
}

.word-wrap {
  word-wrap: break-word;
}

/* utils */
/* margins */
.m-xs {
  margin: 1rem;
}
.mt-xs {
  margin-top: 1rem;
}

.mb-xs {
  margin-bottom: 1rem;
}

.ml-xs {
  margin-left: 1rem;
}

.mr-xs {
  margin-right: 1rem;
}

.m-sm {
  margin: 2rem;
}
.mt-sm {
  margin-top: 2rem;
}

.mb-sm {
  margin-bottom: 2rem;
}

.ml-sm {
  margin-left: 2rem;
}

.mr-sm {
  margin-right: 2rem;
}

.m-md {
  margin: 4rem;
}
.mt-md {
  margin-top: 4rem;
}

.mb-md {
  margin-bottom: 4rem;
}

.ml-md {
  margin-left: 4rem;
}

.mr-md {
  margin-right: 4rem;
}

/* paddings */
.p-xs {
  padding: 1rem;
}
.pt-xs {
  padding-top: 1rem;
}

.pb-xs {
  padding-bottom: 1rem;
}

.pl-xs {
  padding-left: 1rem;
}

.pr-xs {
  padding-right: 1rem;
}

.p-sm {
  padding: 2rem;
}
.pt-sm {
  padding-top: 2rem;
}

.pb-sm {
  padding-bottom: 2rem;
}

.pl-sm {
  padding-left: 2rem;
}

.pr-sm {
  padding-right: 2rem;
}

.p-md {
  padding: 4rem;
}
.pt-md {
  padding-top: 4rem;
}

.pb-md {
  padding-bottom: 4rem;
}

.pl-md {
  padding-left: 4rem;
}

.pr-md {
  padding-right: 4rem;
}

.error--paragraph {
  color: var(--error);
  font-size: var(--default-font-size);
}
