.play {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}

.play-balance {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #eee;
}

.play-balance_amount {
  margin-right: auto;
}

.play-control {
  width: 100%;
}

.play-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background-color: #eee;
}

.btn-confirm {
  width: 100%;
  color: #fff;
}
